<!DOCTYPE html>
<html>
<head>
    <title>Complete Your Purchase</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }
        .instructions {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Complete Your Purchase</h1>
    <p>Thank you for choosing our product! Please follow the instructions below to complete your purchase.</p>

    <div class="payment-details">
        <h2>Payment Details</h2>
        <h1>£979</h1>
        <h2><strong>Account Name:</strong> Bristol Deliveries</h2>
        <h1><strong>Sort Code:</strong> 23-14-70</h1>
        <h1><strong>Account Number:</strong> 55337078</h1>
    </div>

    <div class="instructions">
        <p>After making the payment, please send a message to <a href="mailto:sales@strona.com">sales@strona.com</a> with your shipping address.</p>
        <p>Note: The expected waiting time is up to 7 business days, depending on the volume of orders.</p>
    </div>

    <img src="https://www.spire.co.uk/lm_bespokepc/images/LM_Bespokepc_01.jpg" alt="Image 3">
    <img src="https://www.spire.co.uk/lm_bespokepc/images/LM_Bespokepc_03.jpg" alt="Image 3">
</body>
</html>
